
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

/*
 Old Data
*/

.App {
  font-family: 'Source Sans 3', sans-serif;
  width: 100vw;
  height: 100vh;
}

.footer-messy {
  margin-top: 0px;
}

@media only screen and (max-width: 485px) {
  .footer-messy {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 408px) {
  .footer-messy {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 384px) {
  .footer-messy {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 343px) {
  .footer-messy {
    margin-top: 100px;
  }
}