
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.App {
  /* overflow-x: hidden; */
  /* width: 100vw; */
  /* height: 100vh; */
}

.fancy-header {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.footer-messy {
  margin-top: 0px;
}

@media only screen and (max-width: 743px) {
  .footer-messy {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 591px) {
  .footer-messy {
    margin-top: 45px;
  }
}

@media only screen and (max-width: 500px) {
  .footer-messy {
    margin-top: 65px;
  }
}

@media only screen and (max-width: 424px) {
  .footer-messy {
    margin-top: 85px;
  }
}

@media only screen and (max-width: 420px) {
  .footer-messy {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 408px) {
  .footer-messy {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 384px) {
  .footer-messy {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 343px) {
  .footer-messy {
    margin-top: 165px;
  }
}

.custom-transition {
  transition: margin 100ms linear;
}