
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

.App {
  font-family: 'Source Sans 3', sans-serif;
  width: 100vw;
  height: 100vh;
}