body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  /* text-align: center; */
}

* {
  box-sizing: border-box;
}

.sectionA {
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8%
}
.timerBlock {
  display: block;
  padding: 1%;
  /*width: 100px;*/
  /*height: 140px;*/
  /*line-height: 180px;*/
  z-index: 3
}
.timerText {
  display: block;
  /*padding: 10px;*/
  /*width: 100px;*/
  /*height: 140px;*/
  line-height: 100%;
  font-size: 600%;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  /*word-wrap: break-word;*/
  text-align: center;
  z-index: 3
}
.substring {
  display: block;
  /*width: 100px;*/
  /*height: 40px;*/
  /*line-height: 180px;*/
  font-size: 100%;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  /*word-wrap: break-word;*/
  text-align: center;
  z-index: 3
}
.textColorWhite {
  color: white;
}

.textColorBlack {
  color: black;
}

.backgroundColorLightGrey {
  background-color: rgb(239, 239, 239); 
}
.backgroundColorBlue {
  background-color: rgb(4, 0, 255);
}
.sectionB {
  width: 100%;
  /* height: 1000px; */
  position: relative;
  color:white;
}
/* .player-wrapper {
  width: auto; 
  height: auto;
  position: relative;
}
.react-player {
  padding-top: 56.25%; 
  position: relative; 
}

.react-player > video {
  position: absolute; 
} */

.reactPlayer {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* min-height: 800px; */
}
.gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5%;
  gap: 5%;
  flex-direction: column-reverse;
  background:
    linear-gradient(71deg, rgba(14.38, 10.54, 29.75, 0.84) 20%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}
 .buttonStyle {
  /* position: relative;
  top: 60%;
  left: 8%; */
  /* width: max-content; */
  padding: 10px 100px;
  background: #0065FF;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  line-height: 28px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  word-wrap: break-word;
  z-index: 3
}

.sectionC {
  display: flex;
   height: 600px;
   width: auto;
}

.sectionC.rowReverse {flex-direction: row-reverse;}
.imageBoxLeft {
  width: 60%;
  background-size: cover;
}
.textBoxRight {
    width: 40%;
    background: white;
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

  .buttonStyle2 {
    position: relative;
    padding: 10px 10px;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    line-height: 36px;
    z-index: 3
  }

  .sectionD {
   height: 600px;
      display: flex;
      padding: 10%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5%;
  }
.textStyleCommon {
  position: relative;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  word-wrap: break-word ;
  z-index: 3

}
.textStyleCommon.textCenter {
  text-align: center;
 }
 
.textStyleCommon.textLeft {
  text-align: left;
 }
 .textStyleCommon.textRight {
   text-align: right;
  }
 
.textStyleCommon.textFontSizeLarge {
  font-size: 250%;
 }
 .textStyleCommon.textFontSizeMid {
   font-size: 120%;
  }

  .buttonStyle3 {
    position: relative;
    display: inline-flex;
    padding: 10px 100px;
    background: #0065FF;
    border-radius: 4px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    z-index: 3
  }
@media only screen and (max-width: 600px) {
  
.sectionC {
  display: flex;
   height: 400px;
   width: auto;
}
  .textStyleCommon.textFontSizeMid {
    font-size: 80%;
   }
   .textStyleCommon.textFontSizeLarge {
     font-size: 120%;
    }
    .buttonStyle {
      padding: 10px 20px;
    }
    .react-player {
      width: 100%;
    }
    .player-wrapper {      
      min-height: 700px;
    }
}